:root {
  --bege-claro: #EADDCA;
  --bege-medio: #E5AA70;
  --bege-escuro: #B68D4D;
  --verde-cha: #647669;
  --verde-claro: #A3C973;
  --verde-medio: #37A26C;
  --lilas-claro: #D8BFD8;
  --lilas-medio: #C49DC4;
  --lilas-escuro: #966896;
  --invalid-msg: #dc3545;
  --branco: #FFF;
  --preto: #000;
  --checkbox-disabled: #6c757d;
  --rosa: #ec4899;
}