* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.body {
  background-color: #EADDCA;
}

.mainBackground {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 2em 2em 2.1em;
  margin: 0.8em;
  border: 4px dashed #DAA06D;
  border-radius: 15px;
  background-color: #EADDCA;
  /* box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5); */
  transition: .4s ease-in-out;
}

.mainBackground .heading {
  color: #DAA06D;
  background-color: transparent;
  letter-spacing: .5em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
  text-shadow: inset -1px -1px 1px #DAA06D;
}

.button {
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: #E5AA70;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: .4s ease-in-out opacity,.1s ease-in-out active;
  padding: 1em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:nth-child(2) {
  margin-top: 0.75em;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: none;
}

#etapa0 {
  display: flex;
  flex-direction: column;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #DAA06D;
  font-weight: 800;
  margin-bottom: 1em;
  background-color: transparent;
  letter-spacing: 0.30em;
  line-height: 1.5em;
  text-shadow: inset -1px -1px 1px #DAA06D;
}

.infos span {
  flex: 1;
  text-align: center;
  align-content: center;
  position: relative;
  border: none;
  height: 50px;
  padding: 0 10px 0 10px;
}

.infos span:not(:last-child)::after {
  content: "";
  position: absolute;
  border-right: 2px solid #DAA06D;
  height: 100%;
  top: 0;
  right: 0;
}
